<script>
    window.addEventListener('mouseover', initBrilbot, { once: true });
    window.addEventListener('touchstart', initBrilbot, { once: true });
    var myBrilbot;
    function initBrilbot() {
      if (!myBrilbot) {
        var s = document.createElement('script');s.type = 'text/javascript';s.async = true;
        s.addEventListener('load', function() {
          myBrilbot = new Brilbot.Popup({
            configUrl: '{{config_url}}',
          });
        });
        s.src = '';
        var x = document.getElementsByTagName('script')[0];
        x.parentNode.insertBefore(s, x);
      }
    }
    </script>